{:enums
 {:tone
  {:description "Chinese tones"
   :values [:HIGH :RISING :FALLANDRISE :FALLING]}}

 :objects
 {:initial {:fields {:id {:type Int}
                     :sound {:type String}
                     :group {:type String}
                     :pinyin {:type String}
                     :actor {:type :actor}}}

  :actor {:fields {:id   {:type Int}
                   :name {:type String}
                   :image {:type String}
                   :initial_id {:type Int}
                   :initial {:type :initial
                             :resolve :initial/resolve}}
          :resolve :actor/resolve}

  :final {:fields {:id {:type Int}
                   :sound {:type String}
                   :pinyin {:type String}
                   :pinyin_compact {:type String}
                   :location {:type :location}}}

  :location {:fields {:id {:type Int}
                      :name {:type String}
                      :image {:type String}
                      :final_id {:type Int}
                      :final {:type :final
                              :resolve :final/resolve}
                      :areas {:type (list :area)}}}

  :area {:fields {:id {:type Int}
                  :name {:type String}
                  :tone_id {:type Int}
                  :pinyin {:type String}
                  :location_id {:type Int}
                  :location {:type :location
                             :resolve :location/resolve}}}

  :character {:fields {:id {:type Int}
                       :writing {:type String}
                       :meaning {:type String}
                       :initial_id {:type Int}
                       :final_id {:type Int}
                       :tone {:type Int}
                       :actor {:type actor
                               :resolve :actor/resolve}
                       :area {:type area
                              :resolve :area/resolve}}}
  :user {:fields {:email {:type String}
                  :name {:type String}
                  :picture {:type String}}}}

 :queries
 {
  :initials {:type (list :initial)
             :args {:sound {:type String}
                    :group {:type String}}
             :resolve :initial/resolve-list}

  :actors {:type (list :actor)
           :args {:group {:type String}}
           :resolve :actor/resolve-list}

  :finals {:type (list :final)
           :resolve :final/resolve-list}

  :locations {:type (list :location)
              :resolve :location/resolve-list}

  ;; user
  :user {:type :user
         :resolve :user/me}}
 :mutations
 {
  :facebook_login {:type :user
                   :args {:access_token {:type String}}
                   :resolve :facebook/login}}}



